:root {
    --bg-color: #1c1c1c;
    --primary-color: #f5b32f;
    --secondary-color: #ffffff;
    --font-family: 'Roboto', sans-serif;
}

/* ========== Home =========== */

/* ======== header ======== */

/* ======== middle ======== */

/* ======== footer ======== */

/* ========== About =========== */

/* ======== header ======== */

/* ======== middle ======== */

/* ======== footer ======== */

/* ========== Contact =========== */



/* ======== header ======== */

/* ======== middle ======== */

/* ======== footer ======== */
