:root {
    --bg-color: #1c1c1c;
    --primary-color: #f5b32f;
    --secondary-color: #ffffff;
    --font-family: 'Roboto', sans-serif;
}

/* ========== Home =========== */

/* ======== header ======== */
.links{
    --font-family: 'roboto', sans-serif;
    color: var(--primary-color);
    font-size: 25px;
    
}

/* ======== middle ======== */

/* ======== footer ======== */

/* ========== About =========== */
body {
    background-color: var(--bg-color);
}
/* ======== header ======== */
.topnav  {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center; 
    padding: 15px;
  }

  li {
    color: #1c1c1c;
    padding: 0px;
    font-size: 40px;
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 100;
  }
  
  
  /* Change the color of links on hover */
    a:hover {
    background-color: var(--secondary-color);
    color: black;
  }

  h1 {
    font-family: var(--font-family);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 45px;
    padding: 30px;
    margin: auto;
  }
/* ======== middle ======== */

  p {
    font-family: var(--font-family);
    text-align: justify;
  }

  img{
    max-width:1000px;
    width: auto;
    height:auto
  }

/* ======== footer ======== */

/* ========== Contact =========== */

.topnav {
    background-color: var(--primary-color);
    display: flex;
    justify-content:center;
}

li {
    color:#1c1c1c;
    padding: 0px;
    font-size: 40px;
    list-style-type: none;
    font-family: var(--font-family);
    font-weight:100;
}
/* Change the color of links on hover */

a:hover {
    background-color: var(--secondary-color);
    color: black;
}

h1 {
    font-family: var(--font-family);
    color: var(--primary-color);
    font-weight:500;
    font-size: 45px;
    padding: 30px;
    margin: auto;
}

/* ======== header ======== */

/* ======== middle ======== */

/* ======== footer ======== */
